.filters-component {
  &-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 0;

    &-label {
      min-width: 150px;
    }
    &-actions {
      flex: 1;
      min-width: 150px;
    }
  }
  .item-text {
    display: flex; 
    align-items: center;
    & > div:first-child {
      flex: 1;
    }
  }
}
