body {
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.layout-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-header { }
  &-container {
    flex: 1;
    overflow-y: scroll;
  }
  &-content {
    padding: 1em 0;
  }
  &-footer {
    text-align: center;
    padding: 1em;
    opacity: 0.9;
  }
}
